{% extends "base.html" %}

{% block body %}
	<div class="container" id="create_account">
        <h1>Create Account</h1>
        {% if error %}
        	<div class="app-msg error">{{ error }}</div>
        {% elif success %}
        	<div class="app-msg success">{{ success }}</div>
        {% endif %}
		<form method="POST" action="/create_account" class="pure-form pure-form-stacked">
            <input type="text" name="first_name" placeholder="First Name">
			<input type="text" name="last_name" placeholder="Last Name">
			<input type="text" name="email" placeholder="Bergen Email">
			<input type="password" name="password" placeholder="Password">
            <input type="password" name="verify_password" placeholder="Verify Password">
			<button type="submit" class="pure-button pure-button-primary">Create Account</button>
		</form>
	</div>
{% endblock %}