{% extends "base.html" %}

{% block body %}
	<div class="container" id="index">
        <h1 id="header">BCA JProm 2016</h1>
        <h2>Stay tuned for more updates!</h2>
        <p>Update 4/18/2015: Added 4 more available tables.</p>
        <p>Update 4/1/2015: You can now edit your guest setting <a href="/settings">here</a>.</p>
        <div class="button-container">
            <a href="/tables" class="pure-button pure-button-primary button-xlarge">View and edit tables</a>
        </div>
        {% if not current_user.is_authenticated() %}
            <div class="button-container">
                <a href="/login" class="pure-button pure-button-primary button-xlarge">Log In Here!</a>
            </div>
        {% endif %}
        <div class="footer">
            <p>If you have any questions, please email me at RobKim@bergen.org.</p>
            <p>Made by Robert Kim</p>
        </div>
    </div>
{% endblock %}