{% extends "base.html" %}

{% block body %}
	{{ error }}
	<div class="container">
		<form method="POST" action="/login" class="pure-form pure-form-stacked">
			<input type="text" name="email" placeholder="Bergen Email">
			<input type="password" name="password" placeholder="Password">
			<button type="submit" class="pure-button pure-button-primary">Log In</button>
		</form>
		<a href="/create_account"><button class="pure-button pure-button-primary">Create Account</button></a>
	</div>
{% endblock %}