{% extends "base.html" %}

{% block body %}
	<div class="container" id="login">
        <h1>Login</h1>
        {% if error %}
			<div class="app-msg error">{{ error }}</div>
		{% endif %}
		<form method="POST" action="/login" class="pure-form pure-form-stacked">
			<input type="text" name="email" placeholder="Bergen Email">
			<input type="password" name="password" placeholder="Password">
			<button type="submit" class="pure-button pure-button-primary">Log In</button>
		</form>
		<h2>If you have not already made an account, create one here:</h2>
		<a href="/create_account"><button class="pure-button pure-button-primary">Create Account</button></a>
	</div>
{% endblock %}