{% extends "base.html" %}

{% block body %}
	<div class="container" id="tables">	
        <h1>Tables</h1>
        {% if not is_authed %}
            <a href="/login" class="pure-button pure-button-primary button-xlarge">Log In To Edit!</a>
        {% endif %}
        <p>If you are bringing a non-BCA student, please contact me directly at RobKim@bergen.org to reserve their seat.</p>
		<div class="pure-g">
			{% for table in results %}
				<div class="jtable pure-u-1 pure-u-sm-1-2 pure-u-md-1-4 pure-u-lg-1-5">
					<table class="pure-table">
						<thead>
                            <tr class="header_row">
                                <th>Table {{ table["number"] }}</th>
                            </tr>
                        </thead>
						<tbody>
							{% for person in table["people"] %}
								<tr class="person_row">
									<td>{{ person["name"] }}</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
                    {% if is_authed %}
                        {% if table["people"]|length <= max_people %}
        					{% if table["number"] == table_num %}
        						<form method="POST" action="/tables">
                                    <input type="hidden" name="status" value="leave">
        							<input type="hidden" name="id" value="{{ table['_id'] }}">
        							<button type="submit" class="pure-button pure-button-primary">Leave Table {{ table["number"] }}</button>
        						</form>
        					{% elif table_num == -1 %}
        						<form method="POST" action="/tables">
                                    <input type="hidden" name="status" value="join">
        							<input type="hidden" name="id" value="{{ table['_id'] }}">
        							<button type="submit" class="pure-button pure-button-primary">Join Table {{ table["number"] }}</button>
        						</form>
        					{% endif %}
                        {% endif %}
                    {% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}