nav {
    .pure-menu {
        height: auto;
        background-color: #222322;

        .pure-menu-list {
            .pure-menu-item {
                padding: 1% 0;
                height: auto;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    nav {
        .pure-menu {
            .pure-menu-heading {
                display: none;
            }
        }
    }
}