#tables {
    .jtable {
        padding: 10px 0;

        table {
            margin: 0 auto;

            .person_row {
                text-align: center;
            }
        }
    }

    form {
        text-align: center;
        padding-top: 10px;
    }
}