.container {
    padding: 10%;

    .jtable {
        padding: 10px 0;

        table {
            margin: 0 auto;
        }
    }

    form {
        text-align: center;
        padding-top: 10px;
    }
}