#tables {
    .jtable {
        padding: 1em 0;

        table {
            margin: 0 auto;
            width: 95%;

            .header_row {
                text-align: center;
            }

            .person_row {
                text-align: center;
            }
        }
    }

    form {
        text-align: center;
        padding-top: 1em;
    }
}